.loginShower {
    height: 50px;
    text-align: right;
    margin: 0px;
    padding: 20px;
    transition: 0.3s;
}

header {
    background-image: linear-gradient(rgba(155, 155, 155, 0.8) ,rgba(200, 200, 200, 0.2));
    display: flex;
    justify-content: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    margin-top: 10px;
}

nav {
    background-image: radial-gradient(rgba(255, 255, 255, 0.077), rgba(211, 211, 211, 0.473), rgba(169, 169, 169, 0.377));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: smaller;
}

nav p {
    background-image: radial-gradient(rgba(125, 85, 125, 0.274), rgba(125,85,125, 0.15), rgba(125,85,125, 0.001));
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.623), white);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-content: center;
    text-align: center;
    text-shadow: 0 0 10px #6dd8aa79;
    box-shadow: 3px 6px rgba(40, 85, 77, 0.5), -1em 0 .4em rgba(197, 197, 197, 0.726);
}

.content {
    padding: 20px;
    box-shadow: #dbdbdb;
    background-image: linear-gradient(rgba(255, 255, 255, 0.432), rgba(134, 132, 132, 0.438));
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
    text-align: justify;
}

.login {
    display: none;
    top: 5px;
    position: relative;
    padding: 5px, 5px, 5px, 5px;
    margin: auto;
    width: fit-content;
    height: fit-content;
    font-size: small;
    text-align: center;
    color: white;
    background-image: radial-gradient(rgba(110, 110, 110, 0.87), rgba(46, 46, 46, 0.673), rgba(228, 228, 228, 0.977));
}

.login input, textarea, button {
    background-color: rgba(255, 255, 255, 0.555);
}

.login ul {
    list-style: none;
    padding: 5px;
}

.jspages {
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-direction: column;
}

.jspages div {
    margin: 10px;
}

@media screen and (min-width:600px) {

    nav {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .content {
        width: 60%;
    }

    .login {
        position: fixed;
        right: 5px;
    }

    .login textarea {
        width:fit-content;
        height: 50px;
        margin: 10px;
    }

    .jspages {
        flex-direction: row;
    }

    .jspages iframe {
        width: fit-content;
    }
}